In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_activity = 'all'

# Problem 1

In [3]:
import pandas as pd
import numpy as np
df = pd.read_html('http://www.collegesimply.com/colleges/california/',encoding='')[0]
df

,College,Location
0,Allan Hancock College,"Santa Maria, California"
1,American Academy of Dramatic Arts Los Angeles,"Los Angeles, California"
2,American Conservatory Theater,"San Francisco, California"
3,American Jewish University,"Los Angeles, California"
4,American River College,"Sacramento, California"
5,American University of Health Sciences,"Signal Hill, California"
6,Antelope Valley College,"Lancaster, California"
7,Art Center College of Design,"Pasadena, California"
8,Azusa Pacific Online University,"Glendora, California"
9,Azusa Pacific University,"Azusa, California"
10,Bakersfield College,"Bakersfield, California"
11,Barstow Community College,"Barstow, California"
12,Berkeley City College,"Berkeley, California"
13,Bethesda University of California,"Anaheim, California"
14,Biola University,"La Mirada, California"
15,Bryan University,"Los Angeles, California"
16,Butte College,"Oroville, California"
17,Cabrillo College,"Aptos, California"
18,California Baptist University,"Riverside, California"
19,California Christian College,"Fresno, California"
20,California College of the Arts,"Oakland, California"
21,California College San Diego,"San Diego, California"
22,California Institute of Technology,"Pasadena, California"
23,California Institute of the Arts,"Valencia, California"
24,California Lutheran University,"Thousand Oaks, California"
25,California Maritime Academy,"Vallejo, California"
26,California Polytechnic State University San Lu...,"San Luis Obispo, California"
27,California State Polytechnic University Pomona,"Pomona, California"
28,California State University Bakersfield,"Bakersfield, California"
29,California State University Channel Islands,"Camarillo, California"
...,...,...
250,University of Phoenix Bay Area Campus,"San Jose, California"
251,University of Phoenix Central Valley Campus,"Fresno, California"
252,University of Phoenix Sacramento Valley Campus,"Sacramento, California"
253,University of Phoenix San Diego Campus,"San Diego, California"
254,University of Phoenix Southern California Campus,"Costa Mesa, California"
255,University of Redlands,"Redlands, California"
256,University of San Diego,"San Diego, California"
257,University of San Francisco,"San Francisco, California"
258,University of Southern California,"Los Angeles, California"
259,University of the Pacific,"Stockton, California"
260,University of the West,"Rosemead, California"
261,Vanguard University of Southern California,"Costa Mesa, California"
262,Ventura College,"Ventura, California"
263,Victor Valley College,"Victorville, California"
264,West Coast Ultrasound Institute,"Beverly Hills, California"
265,West Coast University Los Angeles,"North Hollywood, California"
266,West Coast University Ontario,"Ontario, California"
267,West Coast University Orange County,"Anaheim, California"
268,West Hills College Coalinga,"Coalinga, California"
269,West Hills College Lemoore,"Lemoore, California"
270,West Los Angeles College,"Culver City, California"
271,West Valley College,"Saratoga, California"
272,Westmont College,"Santa Barbara, California"
273,Whittier College,"Whittier, California"
274,William Jessup University,"Rocklin, California"
275,Woodbury University,"Burbank, California"
276,Woodland Community College,"Woodland, California"
277,World Mission University,"Los Angeles, California"
278,Yeshiva Ohr Elchonon Chabad West Coast Talmudi...,"Los Angeles, California"
279,Yuba College,"Marysville, California"

# Problem 2

In [82]:
num_of_col = df.groupby('Location').count()
num_of_col=num_of_col.reset_index()

# Problem 3

In [83]:
num_of_col['City'] = num_of_col['Location'].apply(lambda x: ' '.join(x.strip().split()[:-1]).strip(','))
num_of_col

                         Location  College              City
0             Alameda, California        1           Alameda
1            Alhambra, California        1          Alhambra
2         Aliso Viejo, California        1       Aliso Viejo
3             Anaheim, California        3           Anaheim
4              Angwin, California        1            Angwin
5               Aptos, California        1             Aptos
6              Arcata, California        1            Arcata
7            Atherton, California        1          Atherton
8               Azusa, California        1             Azusa
9         Bakersfield, California        4       Bakersfield
10            Barstow, California        1           Barstow
11            Belmont, California        1           Belmont
12           Berkeley, California        2          Berkeley
13      Beverly Hills, California        1     Beverly Hills
14          Blue Lake, California        1         Blue Lake
15             Blythe, California        1            Blythe
16            Burbank, California        1           Burbank
17           Calexico, California        1          Calexico
18          Camarillo, California        1         Camarillo
19           Carlsbad, California        1          Carlsbad
20             Carson, California        1            Carson
21              Chico, California        1             Chico
22        Chula Vista, California        1       Chula Vista
23          Claremont, California        5         Claremont
24           Coalinga, California        1          Coalinga
25            Compton, California        1           Compton
26         Costa Mesa, California        3        Costa Mesa
27        Culver City, California        1       Culver City
28          Cupertino, California        1         Cupertino
29            Cypress, California        2           Cypress
..                            ...      ...               ...
128       Signal Hill, California        1       Signal Hill
129            Sonora, California        1            Sonora
130  South Lake Tahoe, California        1  South Lake Tahoe
131          Stanford, California        1          Stanford
132          Stockton, California        3          Stockton
133         Sunnyvale, California        1         Sunnyvale
134        Susanville, California        1        Susanville
135            Sylmar, California        1            Sylmar
136              Taft, California        1              Taft
137           Tarzana, California        1           Tarzana
138          Temecula, California        2          Temecula
139     Thousand Oaks, California        1     Thousand Oaks
140          Torrance, California        1          Torrance
141           Turlock, California        1           Turlock
142             Ukiah, California        1             Ukiah
143          Valencia, California        1          Valencia
144           Vallejo, California        1           Vallejo
145       Valley Glen, California        1       Valley Glen
146          Van Nuys, California        1          Van Nuys
147           Ventura, California        2           Ventura
148       Victorville, California        1       Victorville
149           Visalia, California        3           Visalia
150            Walnut, California        1            Walnut
151              Weed, California        1              Weed
152       West Covina, California        1       West Covina
153          Whittier, California        2          Whittier
154        Wilmington, California        1        Wilmington
155    Woodland Hills, California        1    Woodland Hills
156          Woodland, California        1          Woodland
157           Yucaipa, California        1           Yucaipa

[158 rows x 3 columns]

In [66]:
url = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_California"
ca_cities = pd.read_html(url, header=0, index_col=0)[1]
ca_cities.columns = ['Type','County','Population','sqmi','km2','Incorporated']
ca_cities = ca_cities.drop('sq mi')
ca_cities['Incorporated'] = ca_cities['Incorporated'].str.slice(23,)
ca_cities

,Type,County,Population,sqmi,km2,Incorporated
Name,,,,,,
Adelanto,City,San Bernardino,31765,56.01,145.1,"December 22, 1970"
Agoura Hills,City,Los Angeles,20330,7.79,20.2,"December 8, 1982"
Alameda,City,Alameda,73812,10.61,27.5,"April 19, 1854"
Albany,City,Alameda,18539,1.79,4.6,"September 22, 1908"
Alhambra,City,Los Angeles,83089,7.63,19.8,"July 11, 1903"
Aliso Viejo,City,Orange,47823,7.47,19.3,"July 1, 2001"
Alturas,City,Modoc,2827,2.43,6.3,"September 16, 1901"
Amador City,City,Amador,185,0.31,0.80,"June 2, 1915"
American Canyon,City,Napa,19454,4.84,12.5,"January 1, 1992"
Anaheim,City,Orange,336265,49.84,129.1,"March 18, 1876"
Anderson,City,Shasta,9932,6.37,16.5,"January 16, 1956"
Angels Camp,City,Calaveras,3836,3.63,9.4,"January 16, 1912"
Antioch,City,Contra Costa,102372,28.35,73.4,"February 6, 1872"
Apple Valley,Town,San Bernardino,69135,73.19,189.6,"November 28, 1988"
Arcadia,City,Los Angeles,56364,10.93,28.3,"August 5, 1903"
Arcata,City,Humboldt,17231,9.10,23.6,"February 2, 1858"
Arroyo Grande,City,San Luis Obispo,17252,5.84,15.1,"July 10, 1911"
Artesia,City,Los Angeles,16522,1.62,4.2,"May 29, 1959"
Arvin,City,Kern,19304,4.82,12.5,"December 21, 1960"
Atascadero,City,San Luis Obispo,28310,25.64,66.4,"July 2, 1979"
Atherton,Town,San Mateo,6914,5.02,13.0,"September 12, 1923"
Atwater,City,Merced,28168,6.09,15.8,"August 16, 1922"
Auburn,City,Placer,13330,7.14,18.5,"May 2, 1888"
Avalon,City,Los Angeles,3728,2.94,7.6,"June 26, 1913"
Avenal,City,Kings,15505,19.42,50.3,"September 11, 1979"
Azusa,City,Los Angeles,46361,9.66,25.0,"December 29, 1898"
Bakersfield,City,Kern,347483,142.16,368.2,"January 11, 1898"
Baldwin Park,City,Los Angeles,75390,6.63,17.2,"January 25, 1956"
Banning,City,Riverside,29603,23.10,59.8,"February 6, 1913"
Barstow,City,San Bernardino,22639,41.38,107.2,"September 30, 1947"
...,...,...,...,...,...,...
Vista,City,San Diego,93834,18.68,48.4,"January 28, 1963"
Walnut,City,Los Angeles,29172,8.99,23.3,"January 19, 1959"
Walnut Creek,City,Contra Costa,64173,19.76,51.2,"October 21, 1914"
Wasco,City,Kern,25545,9.43,24.4,"December 22, 1945"
Waterford,City,Stanislaus,8456,2.33,6.0,"November 7, 1969"
Watsonville,City,Santa Cruz,51199,6.69,17.3,"March 30, 1868"
Weed,City,Siskiyou,2967,4.79,12.4,"January 25, 1961"
West Covina,City,Los Angeles,106098,16.04,41.5,"February 17, 1923"
West Hollywood,City,Los Angeles,34399,1.89,4.9,"November 29, 1984"
West Sacramento,City,Yolo,48744,21.43,55.5,"January 1, 1987"
Westlake Village,City,Los Angeles,8270,5.19,13.4,"December 11, 1981"
Westminster,City,Orange,89701,10.05,26.0,"March 27, 1957"
Westmorland,City,Imperial,2225,0.59,1.5,"June 30, 1934"
Wheatland,City,Yuba,3456,1.48,3.8,"April 23, 1874"
Whittier,City,Los Angeles,85331,14.65,37.9,"February 25, 1898"
Wildomar,City,Riverside,32176,23.69,61.4,"July 1, 2008"
Williams,City,Colusa,5123,5.44,14.1,"May 17, 1920"
Willits,City,Mendocino,4888,2.80,7.3,"November 19, 1888"
Willows,City,Glenn,6166,2.85,7.4,"January 16, 1886"
Windsor,Town,Sonoma,26801,7.27,18.8,"July 1, 1992"
Winters,City,Yolo,6624,2.91,7.5,"February 9, 1898"
Woodlake,City,Tulare,7279,2.25,5.8,"September 23, 1941"
Woodland,City,Yolo,55468,15.30,39.6,"February 22, 1871"
Woodside,Town,San Mateo,5287,11.73,30.4,"November 16, 1956"
Yorba Linda,City,Orange,64234,19.48,50.5,"November 2, 1967"
Yountville,Town,Napa,2933,1.53,4.0,"February 4, 1965"
Yreka,City,Siskiyou,7765,9.98,25.8,"April 21, 1857"
Yuba City,City,Sutter,64925,14.58,37.8,"January 23, 1908"
Yucaipa,City,San Bernardino,51367,27.89,72.2,"November 27, 1989"
Yucca Valley,Town,San Bernardino,20700,40.02,103.7,"November 27, 1991"

In [88]:
summ = pd.merge(ca_cities,num_of_col,left_index=True,right_on='City',how='left').drop('City',axis=1)
summ

,Type,County,Population,sqmi,km2,Incorporated,Location,College
157,City,San Bernardino,31765,56.01,145.1,"December 22, 1970",NaN,NaN
157,City,Los Angeles,20330,7.79,20.2,"December 8, 1982",NaN,NaN
0,City,Alameda,73812,10.61,27.5,"April 19, 1854","Alameda, California",1.0
157,City,Alameda,18539,1.79,4.6,"September 22, 1908",NaN,NaN
1,City,Los Angeles,83089,7.63,19.8,"July 11, 1903","Alhambra, California",1.0
2,City,Orange,47823,7.47,19.3,"July 1, 2001","Aliso Viejo, California",1.0
157,City,Modoc,2827,2.43,6.3,"September 16, 1901",NaN,NaN
157,City,Amador,185,0.31,0.80,"June 2, 1915",NaN,NaN
157,City,Napa,19454,4.84,12.5,"January 1, 1992",NaN,NaN
3,City,Orange,336265,49.84,129.1,"March 18, 1876","Anaheim, California",3.0
157,City,Shasta,9932,6.37,16.5,"January 16, 1956",NaN,NaN
157,City,Calaveras,3836,3.63,9.4,"January 16, 1912",NaN,NaN
157,City,Contra Costa,102372,28.35,73.4,"February 6, 1872",NaN,NaN
157,Town,San Bernardino,69135,73.19,189.6,"November 28, 1988",NaN,NaN
157,City,Los Angeles,56364,10.93,28.3,"August 5, 1903",NaN,NaN
6,City,Humboldt,17231,9.10,23.6,"February 2, 1858","Arcata, California",1.0
157,City,San Luis Obispo,17252,5.84,15.1,"July 10, 1911",NaN,NaN
157,City,Los Angeles,16522,1.62,4.2,"May 29, 1959",NaN,NaN
157,City,Kern,19304,4.82,12.5,"December 21, 1960",NaN,NaN
157,City,San Luis Obispo,28310,25.64,66.4,"July 2, 1979",NaN,NaN
7,Town,San Mateo,6914,5.02,13.0,"September 12, 1923","Atherton, California",1.0
157,City,Merced,28168,6.09,15.8,"August 16, 1922",NaN,NaN
157,City,Placer,13330,7.14,18.5,"May 2, 1888",NaN,NaN
157,City,Los Angeles,3728,2.94,7.6,"June 26, 1913",NaN,NaN
157,City,Kings,15505,19.42,50.3,"September 11, 1979",NaN,NaN
8,City,Los Angeles,46361,9.66,25.0,"December 29, 1898","Azusa, California",1.0
9,City,Kern,347483,142.16,368.2,"January 11, 1898","Bakersfield, California",4.0
157,City,Los Angeles,75390,6.63,17.2,"January 25, 1956",NaN,NaN
157,City,Riverside,29603,23.10,59.8,"February 6, 1913",NaN,NaN
10,City,San Bernardino,22639,41.38,107.2,"September 30, 1947","Barstow, California",1.0
...,...,...,...,...,...,...,...,...
157,City,San Diego,93834,18.68,48.4,"January 28, 1963",NaN,NaN
150,City,Los Angeles,29172,8.99,23.3,"January 19, 1959","Walnut, California",1.0
157,City,Contra Costa,64173,19.76,51.2,"October 21, 1914",NaN,NaN
157,City,Kern,25545,9.43,24.4,"December 22, 1945",NaN,NaN
157,City,Stanislaus,8456,2.33,6.0,"November 7, 1969",NaN,NaN
157,City,Santa Cruz,51199,6.69,17.3,"March 30, 1868",NaN,NaN
151,City,Siskiyou,2967,4.79,12.4,"January 25, 1961","Weed, California",1.0
152,City,Los Angeles,106098,16.04,41.5,"February 17, 1923","West Covina, California",1.0
157,City,Los Angeles,34399,1.89,4.9,"November 29, 1984",NaN,NaN
157,City,Yolo,48744,21.43,55.5,"January 1, 1987",NaN,NaN
157,City,Los Angeles,8270,5.19,13.4,"December 11, 1981",NaN,NaN
157,City,Orange,89701,10.05,26.0,"March 27, 1957",NaN,NaN
157,City,Imperial,2225,0.59,1.5,"June 30, 1934",NaN,NaN
157,City,Yuba,3456,1.48,3.8,"April 23, 1874",NaN,NaN
153,City,Los Angeles,85331,14.65,37.9,"February 25, 1898","Whittier, California",2.0
157,City,Riverside,32176,23.69,61.4,"July 1, 2008",NaN,NaN
157,City,Colusa,5123,5.44,14.1,"May 17, 1920",NaN,NaN
157,City,Mendocino,4888,2.80,7.3,"November 19, 1888",NaN,NaN
157,City,Glenn,6166,2.85,7.4,"January 16, 1886",NaN,NaN
157,Town,Sonoma,26801,7.27,18.8,"July 1, 1992",NaN,NaN
157,City,Yolo,6624,2.91,7.5,"February 9, 1898",NaN,NaN
157,City,Tulare,7279,2.25,5.8,"September 23, 1941",NaN,NaN
156,City,Yolo,55468,15.30,39.6,"February 22, 1871","Woodland, California",1.0
157,Town,San Mateo,5287,11.73,30.4,"November 16, 1956",NaN,NaN
157,City,Orange,64234,19.48,50.5,"November 2, 1967",NaN,NaN
157,Town,Napa,2933,1.53,4.0,"February 4, 1965",NaN,NaN
157,City,Siskiyou,7765,9.98,25.8,"April 21, 1857",NaN,NaN
157,City,Sutter,64925,14.58,37.8,"January 23, 1908",NaN,NaN
157,City,San Bernardino,51367,27.89,72.2,"November 27, 1989","Yucaipa, California",1.0
157,Town,San Bernardino,20700,40.02,103.7,"November 27, 1991",NaN,NaN

# Problem 4

In [90]:
summ[summ['College'].isnull()]=0
summ

,Type,County,Population,sqmi,km2,Incorporated,Location,College
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
0,City,Alameda,73812,10.61,27.5,"April 19, 1854","Alameda, California",1.0
157,0,0,0,0.00,0,0,0,0.0
1,City,Los Angeles,83089,7.63,19.8,"July 11, 1903","Alhambra, California",1.0
2,City,Orange,47823,7.47,19.3,"July 1, 2001","Aliso Viejo, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
3,City,Orange,336265,49.84,129.1,"March 18, 1876","Anaheim, California",3.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
6,City,Humboldt,17231,9.10,23.6,"February 2, 1858","Arcata, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
7,Town,San Mateo,6914,5.02,13.0,"September 12, 1923","Atherton, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
8,City,Los Angeles,46361,9.66,25.0,"December 29, 1898","Azusa, California",1.0
9,City,Kern,347483,142.16,368.2,"January 11, 1898","Bakersfield, California",4.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
10,City,San Bernardino,22639,41.38,107.2,"September 30, 1947","Barstow, California",1.0
...,...,...,...,...,...,...,...,...
157,0,0,0,0.00,0,0,0,0.0
150,City,Los Angeles,29172,8.99,23.3,"January 19, 1959","Walnut, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
151,City,Siskiyou,2967,4.79,12.4,"January 25, 1961","Weed, California",1.0
152,City,Los Angeles,106098,16.04,41.5,"February 17, 1923","West Covina, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
153,City,Los Angeles,85331,14.65,37.9,"February 25, 1898","Whittier, California",2.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
156,City,Yolo,55468,15.30,39.6,"February 22, 1871","Woodland, California",1.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,0,0,0,0.00,0,0,0,0.0
157,City,San Bernardino,51367,27.89,72.2,"November 27, 1989","Yucaipa, California",1.0
157,0,0,0,0.00,0,0,0,0.0

# Problem 5

In [4]:
train = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/train.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1525976732&Signature=TbGqJwOwVap4MA4%2BeaRURMtu7IdLGcajpKYoK2X4d5X2PsiqvEZjPTF7oi8Gn1jpPashEXBLueWQZBa4bMLkEUubEbP3NqXW%2F%2FbGUAPnCzNe2M0LAkdzYmC2gkpi0tCGsBIBYwbq2Q%2FZgpMVrCRwXZCrg511WF3qBCE00G1YiDMuymJiWbz1GglEMACDoVlp5UzhJ69t%2Ftc5DIAT%2BKgd%2B5fPdx2kXGVOFo3roqg%2Bbd9DKtmLpWVyP4KLXiBISgQSQJsCxrojsfn7pvKFl3naNCzfD9v7Jk8BmJwsy32DZS3TChr%2B1ohZxAQyZ19%2F9LKjIh4KcJOYk34MFmAdzJ7S6g%3D%3D')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.pivot_table(index = 'Pclass', columns = 'Sex', aggfunc = {'Survived':'mean','Age':'mean'})

              Age             Survived
Sex        female       male    female      male
Pclass
1       34.611765  41.281386  0.968085  0.368852
2       28.722973  30.740707  0.921053  0.157407
3       21.750000  26.507589  0.500000  0.135447

# Conclusion
The table above shows that the higer level of class, the higer the survival rate is. And female are more likely to survive than male. Whats more, female passengers are generally younger than male passengers.